body {
    padding: 0px;
    margin: 0px;
    background-image: url(../assets/bg-image.jpg);
    background-size: cover;
    height: 720px;
    width: 520px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    overflow: hidden;
}

.header {
    width: 520px;
    display: flex;
    justify-content: center;
}

.header img {
    width: 400px;
}

.container {
    padding: 0px 10px;
}

.container-body {
    padding-left: 30px;
    width: 1000px;
    display: flex;
    align-items: center;
    height: 400px;
}

.container-footer {
    padding-left: 30px;
    width: 1000px;
}

.footer {
   display: flex;
}

.center-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.center-button button {
    width: 200px;
}

.btn {
    cursor: pointer;
    height: 50px;
    border-radius: 4px;
    outline: none;
    border: none;
}

.btn-primary {
    color: white;
    font-weight: bold;
    background-color: #58B19F;
}

.btn-secondary {
    font-weight: bold;
    color: white;
    background-color: #82589F;
}

.btn-secondary:active {
    background-color: #D6A2E8;
}

.btn:active {
    /* opacity: .7; */
}

.title {
    font-weight: 900;
    font-size: 16px;
}

.container-detail {
    /* display: flex;
    justify-content: space-between; */
    font-size: 13px;
}

#update {
    overflow: auto;
    height: 245px;
}

.container-progress {
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
}

.container-percent {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 400px;
}

#txtPercent {
    color: #82589F;
}

.btn-disabled {
    background-color: gray !important;
    color: #000 !important;
}

.btn-disabled:active {
    opacity: 1 !important;
}

.icon-menu{
    width: 30px;
    height: 30px;
}

.btn-menu-right{
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-menu-left{
    height: 50px;
    outline: none;
    border: none;
    color: white;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.btn-menu-left:active {
    /* opacity: .7; */
}

.btn-menu-right:active {
    /* opacity: .7; */
}

.btn-game{
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card-info{
    margin-top: 30px;
    width: 650px;
    height: 120px;
}

.card-info-header{
    background-color: rgba(0, 0, 0, .8);
    width: 650px;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-active {
    color:#58B19F;
}

.card-info-body{
    background-color: rgba(0, 0, 0, .5);
    width: 650px;
    height: 80px;
}

.container-image{
    width: 400px;
}

.slider-image {
    width: 380px; 
    height: 180px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.menu {
    width: 130px;
    color: white;
    text-align: right;
    display: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.container-btn-game{

}

.view-menu {
    transition: all ease 1s;
    display: block;
}

.item-menu{
    color: white;
    padding: 10px;
    width: 150px;
    outline: none;
    border: none;
    height: 40px;
    background-color: #82589F;
}

.item-menu:active{
    background-color: #D6A2E8;
}

.container-update{
    height: 400px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    padding-top: 100px;
    flex-direction: column;
}

.title {
    margin-bottom: 50px;
}

.title label {
    font-size: 35px;
    color: #6D214F;
    font-style: italic;
}

.progress-bar{
    background-color: #D9D9D9;
    width: 450px;
    height: 6px;
    border-radius: 4px;
}

.side-menu {
    display: block;
    position: absolute;
    background-color: #000;
    opacity: .5;
    right: 0px;
    top: 0px;
    width: 70px;
    height: 650px;
}

.container-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 625px;
}

.container-icons img {
    width: 40px;
    height: 40px;
}

.container-progress{
    display: flex;
    flex-direction: column;
    font-style: italic;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.info{
    width: 550px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-left: 30px;
    padding-right: 50px;
}