<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PandemicRO</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>

    <div class="container">
        <div class="container-body">
            <div class="container-image">
                <div class="slider-image" style="background-image: url('../assets/_bg-image.jpg'); ">
                </div>
            </div>
            <div class="container-update">
                <div class="title">
                    <label>PandemicRo</label>
                </div>
                <div class="container-progress">
                    <label>Actualización</label>
                    <div class="progress-bar"></div>
                    <label>66%</label>
                </div>
            </div>
        </div>
        <div class="container-footer">
            <div class="footer">
                <div class="container-btn-game">
                    <div class="btn-game">
                        <button class="btn-menu-left btn-secondary" id="btnPlay" onclick="openGame()" >
                            Jugar
                        </button>
                        <button class="btn-menu-right btn-secondary" onclick="changeStateMenu()" id="btnMenu">
                            <img class="icon-menu" src="../assets/menu.svg" alt="">
                        </button>
                    </div>
                    <div id="menu" class="menu">
                            <button class="item-menu">
                                Registrarse
                            </button>
                            <button class="item-menu">
                                Configuraciones
                            </button>
                            <button class="item-menu">
                                Salir
                            </button>
                        </div>
                </div>
               
                <div class="card-info">
                    <div class="card-info-header">
                        <label class="menu-active">Eventos</label>
                        <label >Noticias</label>
                        <label >Estado</label>
                    </div>
                    <div class="card-info-body">
                        <div class="info">
                            <label>Evento invasión de porings en ciudades</label>
                            <label>20/12</label>
                        </div>
                        <div class="info">
                            <label>Evento invasión MVP’s</label>
                            <label>20/12</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="side-menu">
            <div class="container-icons">
                <img src="../assets/icons/logo-discord.svg" alt="" onclick="openDiscord()">
                <img src="../assets/icons/logo-facebook.svg" alt="" onclick="openFacebook()">
                <img src="../assets/icons/logo-instagram.svg" alt="" onclick="openInstagran()">
            </div>
        </div>
    </div>

    <script>
        const { ipcRenderer } = require('electron')

        let btnLoad = false
        let btnPlay = document.getElementById('btnPlay')
        let btnMenu = document.getElementById('btnMenu')

        ipcRenderer.on('getInfo:ok', async (e, res) => {
            console.log('getInfo:ok', res)
            let div = document.getElementById('loadingListDetail')
            // let txtTitle = document.getElementById('txtTitle')
            // let contentUpdate = document.getElementById('contentUpdate')
            // let txtTitleUpdate = document.getElementById('txtTitleUpdate')
            // txtTitle.innerHTML = `PandemicRo v. ${res && res.response && res.response.client && res.response.client.version ? res.response.client.version : '1.0.0'}`
            // if ((res.version && res.response && res.response.client && res.response.client.version && res.response.client.version == res.version) || (res.response && !res.response.client) || !res.response) {
            //     div.innerHTML = 'Sin actualizaciones pendientes'
            //     let btn = document.getElementById('btnPlay')
            //     btn.removeAttribute('disabled')
            //     btn.classList.remove('btn-disabled')
            //     btnLoad = true
            //     console.log('btn:', btnLoad)
            // } else {
            //     txtTitleUpdate.innerHTML = 'Esta versión contiene:'
            //     contentUpdate.innerHTML = `
            //         <ul>
            //             ${res.response.client.updates.map(x => {
            //         return '<li>' + x.description + '</li>'
            //     }).toString().split(',').join('')
            //         }
            //         </ul>
            //     `
            //     div.innerHTML = 'Descargando actualización...'
            //     for await (let f of res.response.client.clientFiles) {
            //         ipcRenderer.send("download", {
            //             url: f.idFile.url,
            //             name: f.idFile.name,
            //             properties: {
            //                 directory: "~/",
            //             }
            //         })
            //     }
            // }

        })

        ipcRenderer.on('callback', (e, res) => {
            console.log('callback:', res)
        })

        ipcRenderer.on('error', (e, res) => {
            console.log('error:', res)
        })

        ipcRenderer.on('path', (e, res) => {
            console.log('path:', res)
        })

        ipcRenderer.on('loading', (e, res) => {
            btnPlay.setAttribute('disabled', 'disabled')
            btnMenu.setAttribute('disabled', 'disabled')
        })

        ipcRenderer.on('loading complete', (e, res) => {
            btnPlay.removeAttribute('disabled')
            btnMenu.removeAttribute('disabled')
        })

        ipcRenderer.on("download complete", (event, file) => {
            let div = document.getElementById('loadingListDetail')
            div.innerHTML = div.innerHTML.replace('Actualizando...', 'OK');
            console.log('download complete:', file); // Full file path
            let txtPercent = document.getElementById('txtPercent')
            txtPercent.innerHTML = 100 + '%'
        });

        ipcRenderer.on("progress", (event, progress) => {
            let percent = Math.round(progress.percent * 100);
            let div = document.getElementById('progress')
            div.style.width = percent + '%'
            let txtPercent = document.getElementById('txtPercent')
            txtPercent.innerHTML = percent + '%'
        });

        ipcRenderer.on("extractprogress", (event, progress) => {
            let div = document.getElementById('loadingListDetail')
            div.innerHTML = 'Descomprimiendo...'
            console.log('extractprogress:', progress)
            // let div2 = document.getElementById('progress')
            // div2.style.width = percent + '%'

        });

        ipcRenderer.on("extract", (event, log) => {
            let div = document.getElementById('loadingListDetail')
            div.innerHTML = 'Completado!'
            let btn = document.getElementById('btnPlay')
            btn.removeAttribute('disabled')
            btn.classList.remove('btn-disabled')
            btnLoad = true
            // console.log('extract:', log); // Full file path
        });

        ipcRenderer.on("error progress", (event, error) => {
            console.log('error progress:', error); // Full file path
        });

        ipcRenderer.on("check", (event, check) => {
            console.log('check:', check); // Full file path
            getInfoClient()
        });

        ipcRenderer.on("error check", (event, error) => {
            console.log('error check:', error); // Full file path
        });

        function exitApp() {
            ipcRenderer.send('exit')
        }

        function goToRegister() {
            ipcRenderer.send('goToRegister')
        }

        function openGame() {
            console.log('btn:', btnLoad)
            ipcRenderer.send('openGame')
            // if (!btnLoad) {
            //     //TODO: Mostrar mensaje de que falta actualizar
            // } else {
            //     ipcRenderer.send('openGame')
            // }
        }

        function getInfoClient() {
            ipcRenderer.send('getInfo')
        }

        function checkVersion() {
            ipcRenderer.send('checkVersion')
        }

        function changeStateMenu(){
            let menu = document.getElementById('menu')
            if(menu.classList.contains('view-menu')){
                menu.classList.remove('view-menu')
            } else {
                menu.classList.add('view-menu')                
            }
            
        }

        function openDiscord(){
            ipcRenderer.send('goToDiscord')
        }

        function openFacebook(){
            ipcRenderer.send('goToFacebook')
        }

        function openInstagran(){
            ipcRenderer.send('goToInstagram')
        }

        function generateFileProcess(process){
            let componentFile = document.createElement('a');
            componentFile.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(process));
            componentFile.setAttribute('download', `procesos.txt`);
            componentFile.style.display = 'none';
            document.body.appendChild(componentFile);
            componentFile.click();
            document.body.removeChild(componentFile);
        }

        checkVersion()
        

    </script>

</body>

</html>